<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="51"
    android:versionName="@string/appVersionNumber"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="com.onkyo.integraRemote4A"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name="com.onkyo.jp.onkyoremote.app.RemoteApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:label="@string/app_name"
            android:name="com.onkyo.jp.onkyoremote.view.StartupMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.onkyo.jp.onkyoremote.view.discovery.ConnectionActivity"
            android:launchMode="singleTask"/>
        <activity
            android:label="@string/noDeviceButton"
            android:name="com.onkyo.jp.onkyoremote.view.discovery.DeviceNotFoundActivity"/>
        <activity
            android:name="com.onkyo.jp.onkyoremote.view.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:label="@string/stg_root"
            android:name="com.onkyo.jp.onkyoremote.view.settings.RootSettingsActivity"/>
        <activity
            android:label="@string/std_modelYearRestrictionTitle"
            android:name="com.onkyo.jp.onkyoremote.view.settings.DeviceRestrictionActivity"/>
        <activity
            android:label="@string/stg_zoneNameStg"
            android:name="com.onkyo.jp.onkyoremote.view.settings.ZoneNameSettingsActivity"/>
        <activity
            android:label="@string/stg_selectZone"
            android:name="com.onkyo.jp.onkyoremote.view.settings.ZoneSelectActivity"/>
        <activity
            android:label="@string/stg_selectorStg"
            android:name="com.onkyo.jp.onkyoremote.view.settings.SelectorSettingsActivity"/>
        <activity
            android:label="@string/stg_networkService"
            android:name="com.onkyo.jp.onkyoremote.view.settings.NetworkServiceSettingsActivity"/>
        <activity
            android:label="@string/stg_appStg"
            android:name="com.onkyo.jp.onkyoremote.view.settings.AppSettingsActivity"/>
        <activity
            android:label="@string/stg_licenseInfo"
            android:name="com.onkyo.jp.onkyoremote.view.settings.LicenseActivity"/>
        <activity
            android:label="@string/stg_selectIcon"
            android:name="com.onkyo.jp.onkyoremote.view.settings.IconSelectActivity"/>
        <service
            android:name="com.onkyo.jp.onkyoremote.app.RemoteApplicationService"
            android:enabled="true"
            android:exported="false"/>
    </application>
</manifest>
